{% extends 'base.html' %}

{% block title %}
  Видеохостинг для всех!
{% endblock %}

{% from 'macros/show-flashed-messages.html' import show_flashed_messages_with_categories %}

{% block body %}
  {{ show_flashed_messages_with_categories() }}

  {% if videos %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for video in videos %}
      <div class="col">
          <div class="card shadow-sm">
            <a href="{{ url_for('videos_app.details', video_id=video.id) }}">
              {% if video.watch == "-" %}
                <img class="img-fluid" src="https://idei.club/raznoe/uploads/posts/2023-05/1685543289_idei-club-p-svetoch-mebel-krasivo-60.jpg">
              {% else %}
                <img class="img-fluid" src="//i3.ytimg.com/vi/{{ video.watch }}/maxresdefault.jpg">
              {% endif %}
            </a>
            <div class="card-body">
              <p class="card-text">{{ video.name }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ url_for('videos_app.details', video_id=video.id) }}" class="btn btn-sm btn-outline-secondary">Подробно</a>
                  <a href="{{ url_for('videos_app.confirm-delete', video_id=video.id) }}" class="btn btn-sm btn-outline-secondary">Удалить</a>
                </div>
              </div>
            </div>
          </div>
        </div>

      {% endfor %}
    </div>
  {% else %}
    <div class="alert alert-warning" role="alert">
      Пока не загружено ни одного видео :(
      <br><br>
      <a href="{{ url_for('videos_app.add') }}">Станьте первым!</a>
    </div>
  {% endif %}
{% endblock %}
