{% extends 'base.html' %}

{% block title %}
Register page
{% endblock %}

{% from 'macros/show-flashed-messages.html' import show_flashed_messages_with_categories %}

{% block head %}
<style>
    /* CSS - cascade style sheets */
    /*
    html {
      font-size: 22pt;
    }
     */
</style>
{% endblock %}

{% block body %}
{{ show_flashed_messages_with_categories() }}
<p class="h2">Регистрация</p>
<form method="post">

    <div class="my-3">

        {{ form.hidden_tag() }}
        {{ form.username.label(class="form-label") }}
        {{ form.username(size=20, class="form-control") }}

        {% if form.errors %}
        {% for field_name, errors in form.errors.items() %}
        <div class="my-3 alert alert-danger">
            <strong>{{ field_name }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {% endif %}

    </div>

    <div class="my-3">

        {{ form.hidden_tag() }}
        {{ form.email.label(class="form-label") }}
        {{ form.email(size=20, class="form-control") }}

        {% if form.errors %}
        {% for field_name, errors in form.errors.items() %}
        <div class="my-3 alert alert-danger">
            <strong>{{ field_name }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="my-3">

        {{ form.hidden_tag() }}
        {{ form.password.label(class="form-label") }}
        {{ form.password(size=20, class="form-control") }}

        {% if form.errors %}
        {% for field_name, errors in form.errors.items() %}
        <div class="my-3 alert alert-danger">
            <strong>{{ field_name }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="my-3">

        {{ form.hidden_tag() }}
        {{ form.password2.label(class="form-label") }}
        {{ form.password2(size=20, class="form-control") }}

        {% if form.errors %}
        {% for field_name, errors in form.errors.items() %}
        <div class="my-3 alert alert-danger">
            <strong>{{ field_name }}</strong>
            <ul>
                {% for error in errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</form>

<input class="btn btn-primary" type="submit" value="Registration">
<a href="{{ url_for('index') }}">Back to Index page</a>
<a href="{{ url_for('login') }}">Login</a>
{% endblock %}